<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        New Post
      </h1>
    </div>
  </div>
</section>


<% if @word.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@word.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @word.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @word do |f| %>
          <div class="field">
            <%= f.label :title, "Word", class: "label" %>
            <%= f.text_field :title, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :story, "Story", class: "label" %>
            <%= f.text_area :story, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :image, "Picture", class: "label" %>
            <%= f.attachment_field :image, class: "input" %>
          </div>

          <%= f.submit 'Post', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>